<div class="container d-grid gap-2 col-6 mx-auto ">
  <div class="img mx-auto">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEIGfNMUvzVH5spffKPRJA05a2LfXJsCCBNxjKnGnSvhqr_XGl8PO_OkwSjDmtpfsA6n0&usqp=CAU"
      alt="link-img">
  </div>
  <form action="/show" method="POST" style="display: inline;">
    <div class="input-group mt-3">
      <input class="form-control" type="text" placeholder="請輸入網址" name="originalURL">
    </div>
    <div>
    </div>
    <div class="mt-4">
      <button class="btn btn-success d-grid gap-2 col-3 mx-auto " type="submit">Generate</button>
    </div>
  </form>
</div>