<div class="container d-grid gap-2 col-6 mx-auto ">
  <div class="img mx-auto">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEIGfNMUvzVH5spffKPRJA05a2LfXJsCCBNxjKnGnSvhqr_XGl8PO_OkwSjDmtpfsA6n0&usqp=CAU"
      alt="link-img">
  </div>
  <div>
    <div class="text mt-3">
      <div class="success">
        <h3>Success ! Please use this link :</h3>
        <span>短網址__{{shortURL}}</span>
      </div>
    </div>
    <div>
    </div>
    <div class="mt-4">
      <button class="btn btn-success d-grid gap-2 col-3 mx-auto " type="submit">Generate</button>
    </div>
  </div>
</div>